.register {
    width: 500px;
    background: #fff;
    border: 2px solid #dddfe2;
    box-shadow: 50px 30px 4px rgb(0 0 0 / 10%), 20px 20px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    background-image: linear-gradient(to right top, #dee3ea, #004d7a, #008793, #00bf72, #dce61a);
    margin: 10rem 23rem;
    padding: 2rem 0.75rem;
    align-items: center;
    text-align: center;
    
}

.register form input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 80%;
    font-size: 1rem;
}

.button {
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}